{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h3>&nbsp&nbsp订座设置</h3>
        {% if config %}
            <ul class="movie-list">
                <li><b>学号：</b>
                    <span class="float-right">
                        {{ config.student_id }}
                    </span>
                </li>
                <li><b>自习室：</b>
                    <span class="float-right">
                        {{ valid_rooms[config.content_id] }}
                    </span>
                </li>
                <li>
                    <b>开始时间：&nbsp&nbsp</b>{{ config.start_time }}:00
                    <span class="float-right">
                        <b>容许误差：&nbsp&nbsp</b>{{ config.start_time_delta_limit }}小时
                    </span>
                </li>
                <li>
                    <b>持续时间：&nbsp&nbsp</b>{{ config.duration }}小时
                    <span class="float-right">
                        <b>容许误差：&nbsp&nbsp</b>{{ config.duration_delta_limit }}小时
                    </span>
                </li>
                <li><b>预期座号（0表示随机）：</b>
                    <span class="float-right">
                        {{ config.target_seat }}
                    </span>
                </li>
                <li>
                    <a class="imdb-blue" href="{{ url_for('manual_booking') }}">立即手动预约</a>
                    <span class="float-right">
                        <a class="imdb" href="{{ url_for('set_config') }}">修改信息</a>
                    </span>
                </li>
            </ul>
            <h3>&nbsp&nbsp自动预约</h3>
            <ul class="movie-list">
                {% if auto_booking_info.enable %}
                    <li>
                        {% if auto_booking_info.paused %}
                            <b>暂停中</b>&nbsp
                        {% else %}
                            <b>运行中</b>&nbsp
                        {% endif %}

                        <span class="float-right">
                            {% if user.mail_address %}
                                <b>邮箱: </b>{{ user.mail_address }}&nbsp&nbsp
                            {% else %}
                                <b>邮箱: </b>未填写&nbsp&nbsp
                            {% endif %}
                        </span>
                        <br><br>

                        {% if auto_booking_info.paused %}
                            <a class="imdb-blue" href="{{ url_for('resume_auto_booking') }}">继续自动预约</a>
                        {% else %}
                            <a class="imdb-red" href="{{ url_for('pause_auto_booking') }}">暂停自动预约</a>
                        {% endif %}
                        &nbsp
                        <span class="float-right">
                            <b>下次运行: </b>{{ auto_booking_info.next_order_time }}&nbsp&nbsp
                            <a class="imdb" href="{{ url_for('set_auto_booking') }}">修改</a>
                        </span>
                    </li>
                {% else %}
                    <li>未开启自动预约
                        <span class="float-right">
                            <a class="imdb" href="{{ url_for('set_auto_booking') }}">开启</a>
                        </span>
                    </li>
                {% endif %}
            </ul>
        {% else %}
            <ul class="movie-list">
                <li>尚未设置订座信息！
                    <span class="float-right">
                        <a class="imdb" href="{{ url_for('set_config') }}" target="_blank" title="SetConfig">设置</a>
                    </span>
                </li>
            </ul>
        {% endif %}
    {% else %}
        <h3>&nbsp&nbsp登录</h3>
        <form class="movie-list" method="post" action="{{ url_for('login') }}">
            <li>
                <b>用户名</b>
                <span class="float-right">
                    <input type="text" name="username" required>
                </span>
            </li>
            <li>
                <b>密&nbsp&nbsp&nbsp&nbsp码</b>
                <span class="float-right">
                    <input type="password" name="password" required>
                </span>
            </li>
            <li>
                <div class="center">
                    <input class="btn" onclick="window.location.href='{{ url_for('logon') }}'" type="button"
                           name="regist-btn" value="注册账号">
                    &nbsp&nbsp
                    <input class="btn" type="submit" name="login-submit" value="立即登录">
                </div>
            </li>
        </form>
    {% endif %}
{% endblock %}
