{% extends 'base.html' %}

{% block content %}
    <h3>&nbsp&nbsp注册账号</h3>
    <form class="movie-list" method="post">
        <li>
            <b>用户名</b>
            <span class="float-right">
                <input type="text" name="username" required>
            </span>
        </li>
        <li>
            <b>密码（第一次）</b>
            <span class="float-right">
                <input type="password" name="password_1" required>
            </span>
        </li>
        <li>
            <b>密码（第二次）</b>
            <span class="float-right">
                <input type="password" name="password_2" required>
            </span>
        </li>
        <li>
            <b>邮箱（用于接收预约结果）</b>
            <span class="float-right">
                <input type="email" name="mail_address">
            </span>
        </li>
        <li>
            <b>邀请码</b>
            <span class="float-right">
                <input type="text" name="code" required>
            </span>
        </li>
        <li>
            <div class="center">
                <input class="btn" type="submit" name="regist-submit" value="立即注册">
            </div>
        </li>
    </form>
{% endblock %}
