{% extends 'base.html' %}

{% block content %}
    <h3>注册账号</h3>
    <form method="post">
        用户名<br>
        <input type="text" name="username" required><br><br>
        密码（第一次）<br>
        <input type="password" name="password_1" required><br><br>
        密码（第二次）<br>
        <input type="password" name="password_2" required><br><br>
        邀请码<br>
        <input type="text" name="code" required><br><br>
        <input class="btn" type="submit" name="submit" value="立即注册">
    </form>
{% endblock %}
