{% extends 'base.html' %}

{% block content %}
    <h3>设置每日自动预约</h3>
    <form method="post">
        <ul class="movie-list">
            <li><b>预约时间（默认22:01）：</b>
                <span class="float-right">
                    <input type="time" name="order_time" value="22:01" required>
                </span>
            </li>
            <li><b>邮箱（用于接收预约结果，可不填）：</b>
                <span class="float-right">
                    <input type="email" name="mail_address"
                           value="{{ user.mail_address if user.mail_address else "" }}">
                </span>
            </li>
            <li>
                <input type="number" name="config_id" value={{ config.cid if config else 0 }} style="visibility:hidden">
                <span class="float-center">
                    <input class="btn" type="submit" name="submit" value="提  交">
                </span>
            </li>
        </ul>
    </form>
    {#    <ul>#}
    {#        <li>预约周期：默认每天（可选单次？）</li>#}
    {#        <li>预约时间：默认22:01:10</li>#}
    {#    </ul>#}
{% endblock %}
