{% extends 'base.html' %}

{% block content %}
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function onchange_start(choose, id, url, default_duration) {
            var data;
            var select = document.getElementById(choose);
            var duration_list = document.getElementById(id);
            duration_list.innerHTML = ""; //清空
            for (i = 0; i < select.length; i++) {
                if (select[i].selected) {
                    data = {
                        "start_time": select[i].value
                    };
                    $.post({ //发起ajax请求
                        url: url,
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=UTF-8",
                        success: function (data) {
                            data = JSON.parse(data)
                            var no_select = true;
                            if (data) {
                                for (i = 0; i < data.length; i++) {
                                    if (data[i] == default_duration || (no_select && i === data.length - 1)) {
                                        no_select = false;
                                        duration_list.innerHTML += "<option selected='selected' value='" + data[i] + "'>" + data[i] + " 小时</option>"
                                    } else {
                                        duration_list.innerHTML += "<option value='" + data[i] + "'>" + data[i] + " 小时</option>"
                                    }
                                }
                            } else {
                                alert('获取下拉菜单失败');
                            }
                        }
                    });
                }
            }
        }
    </script>
    <h3>&nbsp&nbsp设置订座信息</h3>
    <form method="post">
        <ul class="movie-list">
            <li><b>学号：</b>
                <span class="float-right">
                    <input type="text" name="student_id" value="{{ config.student_id if config else "" }}" required>
                </span>
            </li>
            <li><b>自习室密码：</b>
                <span class="float-right">
                    <input type="password" name="student_pwd" value="{{ config.student_pwd if config else "" }}"
                           required>
                </span>
            </li>
            <li><b>自习室：</b>
                <span class="float-right">
                    <select name="content_id">
                        {% for v_room_id in valid_rooms %}
                            {% if v_room_id==(config.content_id if config else 36) %}
                                <option value={{ v_room_id }} selected>{{ valid_rooms[v_room_id] }}</option>
                            {% else %}
                                <option value={{ v_room_id }}>{{ valid_rooms[v_room_id] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </li>
            <li><b>开始时间：&nbsp&nbsp</b>
                <select name="start_time" id="select_start_time"
                        onchange="onchange_start('select_start_time','select_duration','/get-valid-durations',{{ config.duration }})">
                    {% for v_start_time in valid_start_times %}
                        {% if v_start_time==(config.start_time if config else 9) %}
                            <option value={{ v_start_time }} selected>{{ v_start_time }}:00</option>
                        {% else %}
                            <option value={{ v_start_time }}>{{ v_start_time }}:00</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <span class="float-right">
                    <b>容许误差：&nbsp&nbsp</b>
                    <select name="start_time_delta_limit">
                        {% for v_start_time_delta_limit in valid_start_time_delta_limits %}
                            {% if v_start_time_delta_limit==(config.start_time_delta_limit if config else 0) %}
                                <option value={{ v_start_time_delta_limit }} selected>{{ v_start_time_delta_limit }} 小时</option>
                            {% else %}
                                <option value={{ v_start_time_delta_limit }}>{{ v_start_time_delta_limit }} 小时</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </li>
            <li><b>持续时间：&nbsp&nbsp</b>
                <select name="duration" id="select_duration">
                    {% for v_duration in range(3, max_end_time - (config.start_time if config else 9) + 1) %}
                        {% if v_duration==(config.duration if config else 13) %}
                            <option value={{ v_duration }} selected>{{ v_duration }} 小时</option>
                        {% else %}
                            <option value={{ v_duration }}>{{ v_duration }} 小时</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <span class="float-right">
                    <b>容许误差：&nbsp&nbsp</b>
                    <select name="duration_delta_limit">
                        {% for v_duration_delta_limit in valid_duration_delta_limits %}
                            {% if v_duration_delta_limit==(config.duration_delta_limit if config else 0) %}
                                <option value={{ v_duration_delta_limit }} selected>{{ v_duration_delta_limit }} 小时</option>
                            {% else %}
                                <option value={{ v_duration_delta_limit }}>{{ v_duration_delta_limit }} 小时</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </span>
            </li>
            <li><b>预期座号（0表示随机）：</b>
                <span class="float-right">
                    <input type="number" name="target_seat" value={{ config.target_seat if config else 0 }} min=0
                           max=999 required>
                </span>
            </li>
            <li>
                {#                <input type="number" name="config_id" value={{ config.cid if config else 0 }} style="display:none">#}
                <input type="number" name="config_id" value={{ config.cid if config else 0 }} style="visibility:hidden">
                <span class="float-center">
                    <input class="btn" type="submit" name="submit" value="提  交">
                </span>
            </li>
        </ul>
    </form>
{% endblock %}
