{% extends 'base.html' %}

{% block content %}
    <h3>&nbsp&nbsp用户数据</h3>
    <ul class="movie-list">
        {% if tables %}
            {% for table_name in tables %}  {# 迭代 date_logs #}
                <li>
                    <b>{{ table_name }}</b>
                    <br>
                    <table>
                        {% for line in tables[table_name] %}
                            <tr>
                                {% if line[0] in ('用户ID','设置ID','任务ID') %}
                                    {% for col in line %}
                                        <th>{{ col }}</th>
                                    {% endfor %}
                                {% else %}
                                    {% for col in line %}
                                        <td>{{ col }}</td>
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </li>
            {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
        {% else %}
            <li>
                <b>暂无数据</b>
            </li>
        {% endif %}
    </ul>
    <h3>&nbsp&nbsp更新座位表</h3>
    <ul class="movie-list">
        <li>
            <b>更新座位表</b>
            <span class="float-right">
                    <a class="imdb-blue"
                       href="{{ url_for('manual_refresh_seat_map') }}">
                        立即更新
                    </a>
            </span>
        </li>
    </ul>
{% endblock %}
