{% extends 'base.html' %}

{% block content %}
    <h3>&nbsp&nbsp预约历史（最近10条）</h3>
    <ul class="movie-list">
        {% if histories %}
            {% for history in histories[:10] %}  {# 迭代 histories 变量 #}
                {% if history[0] in ('已预约，等待签到','已预约，已创建定时签到任务', '使用中') %}
                    <li>
                        {% else %}
                    <li style="color: #999999">
                {% endif %}
                <b>{{ history[3] }}&nbsp&nbsp&nbsp&nbsp{{ history[4] }}号座</b>
                {% if history[0] == '已预约，等待签到' %}
                    <span class="float-right">
                        <a class="imdb-blue"
                           href="{{ url_for('manual_checkin', booking_id=history[5], begin_time=history[6]) }}">
                            立即签到
                        </a>
                    </span>
                {% endif %}
                <br>
                {{ history[1] }} - {{ history[2] }}
                <span class="float-right">
                    {{ history[0] }}
                </span>
            {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
        {% else %}
            <li>
                <b>获取自习室数据失败，请检查订座信息中自习室账号和密码并重试</b>
            </li>
        {% endif %}
    </ul>
{% endblock %}
